<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
<div>
<!--    <tr>
        <th>시도</th>
        <th>구군</th>
    </tr>
    <tr th:each="${jsonStr}">
        <td th:text="${jsonStr.sido}"></td>
        <td th:text="${jsonStr.gugun}"></td>
    </tr>-->
    <form id="frm">
        <label for="sido">시/도</label>
        <select name="sido" id="sido">
            <option value="">선택하세요</option>
        </select>
        <label for="sigungu">군/구</label>
        <select name="sigungu" id="sigungu">
            <option value="">선택하세요</option>
        </select>
    </form>
</div>
</html>
<!--자바스크립트-->
<script layout:fragment="script">
    // JSON << XML
    // xml에서 나온 것이 JSon이기 때문에 XML 객체를 사용함
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function () {
        if( xmlhttp.readyState == 4 && xmlhttp.status == 200){

            // xml(json) 파일 불러와서 처리할 함수들
            // json함수로 보내줄 때, 문자열로 변환된 데이터를 보내준다
            jsonFunc( xmlhttp.responseText);

        }
    }
    xmlhttp.open("GET", "jsondata.json", true);
    xmlhttp.send();

    // json 데이터를 불러와 클라이언트 뷰에 출력하는 함수
    function jsonFunc( resp ) {

    // 2차원 배열 넘어온다고 생각하면 됨
    var arr = JSON.parse( resp );

    // 일반문자를 json으로 만들어 줌 (parsing)
    var txt = "";

    alert(arr.length);	// 길이 확인용


    // key:value를 취득
    for( i=0; i<arr.length; i++){
        for(key in arr[i]){		// 한 묶음의 데이터 (key로 묶여짐)를 출력
            txt += key + ":" + arr[i][key] + " ";
        }
        txt += "<br>";
    }

    document.getElementById("demo").innerHTML = txt;

    }

</script>