<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>순위</th>
        <th>전국 오늘의 맛집</th>
    </tr>
    <tr th:each="eatjjim, idx : ${eatjjim}">
        <td th:text="${idx.index + 1}"></td> <!-- 순위 출력 -->
        <td th:text="${eatjjim.hotplace_name}"></td>
    </tr>
</table>

<table border="1">
    <tr>
        <th>순위</th>
        <th>전국 오늘의 카페</th>
    </tr>
    <tr th:each="cafejjim, idx : ${cafejjim}">
        <td th:text="${idx.index + 1}"></td> <!-- 순위 출력 -->
        <td th:text="${cafejjim.hotplace_name}"></td>
    </tr>
</table>



</body>
</html>